################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jwt_Implementation/bin/Debug/netcoreapp3.1
/.vs
/Jwt_Implementation/obj
